<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Cart</h1>
    <p>This is a simple component to display the quantity of items in a shopping cart.</p>
    <h3>Cart Quantity:</h3>
    <div id="cart-quantity">
        
        <button onclick="showCartQuantity()">Show Quantity
        </button>
        <button onclick="addToCart()">Add to cart</button>
        <button onclick="addToCartPlusTwo()">+2</button>
        <button onclick="addToCartPlusThree()">+3</button>
        <button onclick="resetCart()">Reset Cart</button>
        
    </div>
    <script src="./cart-quantity.js"></script>
</body>
</html>